.img-card {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: 20px 10px;
  width: 300px;
}

.card-info {
  width: 100%;
}

.img-card h5,
p,
label {
  color: #666666;
  font-family: "Museo-Sans";
}

label {
  color: black;
}

h5 {
  font-size: 25px;
  margin: 5px auto;
}

.buttonImg-container {
  text-align: center;
  margin: 35px auto;
}

.buttonImg-container input {
  display: none;
}

.buttonImg-container label {
  font-weight: bold;
  border-bottom: 2px solid #eba904;
}

.buttonImg-container label:hover {
  cursor: pointer;
}
